<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Start template
        link(rel="stylesheet", href="assets/css/outerStyle.css")
        link(rel="stylesheet", href="assets/css/style.css")
    body
        .wrap
            include template/header.pug
            include template/main.pug
            include template/footer.pug
        script(src="assets/js/outerJs.js")
        script(src="assets/js/app.js")